{% load staticfiles i18n %}<!DOCTYPE html>
{% url 'public:home' as home_url %}
{% url 'public:about' as about_url %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Bitcoin designed{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="website">
  	<meta property="og:image" content="">
  	<meta property="og:description" content="">
  	<!-- /twitter card tags -->
  	<meta name="twitter:card" content="summary">
  	<meta name="twitter:description" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>
    {% block topDiv %}
      <div id="top-div">
        <div id="svg-container">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 style="enable-background:new 0 0 1439 204;" xml:space="preserve">
          <style type="text/css">
          .st0{display:none;}
          .st1{display:inline;fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:0.1}
          .st2{opacity:0.2;fill:#FFFFFF;enable-background:new    ;}
          .st3, .st4{fill:none;stroke:#3acccc;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:0.2}
          </style>
          <g id="second-squares">
          	<rect x="38.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="58.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="-1.1" y="162.2" class="st4" width="20.1" height="20.1"/>
          	<rect x="19" y="182.3" class="st4" width="20.1" height="20.1"/>
          	<rect x="78.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="98.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="118.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="138.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="58.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="158.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="78.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="178.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="98.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="198.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="118.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="218.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="138.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="238.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="158.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="258.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="178.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="278.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="198.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="298.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="218.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="318.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="238.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="338.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="258.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="358.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="278.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="378.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="298.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="398.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="318.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="418.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="338.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="438.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="358.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="458.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="378.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="478.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="398.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="498.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="418.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="518.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="438.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="538.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="458.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="558.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="478.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="578.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="498.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="598.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="518.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="618.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="538.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="638.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="558.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="658.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="578.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="678.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="598.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="698.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="618.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="718.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="638.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="738.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="658.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="758.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="678.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="778.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="698.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="798.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="718.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="818.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="738.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="838.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="758.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="858.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="778.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="878.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="798.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="898.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="818.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="918.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="838.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="938.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="858.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="958.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="878.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="978.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="898.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="998.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="918.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1018.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="938.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1038.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="958.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1058.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="978.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1078.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="998.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1098.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1018.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1118.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1038.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1138.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1058.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1158.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1078.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1178.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1098.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1198.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1118.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1218.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1138.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1238.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1158.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1258.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1178.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1278.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1198.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1298.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1218.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1318.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1238.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1338.9" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1258.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1358.9" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1278.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1378.9" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1298.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1398.9" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1318.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1418.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1338.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1358.9" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1378.9" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1398.9" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1418.9" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="38.9" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="-1.1" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="18.9" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="38.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="58.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="-1.1" y="362.6" class="st4" width="20.1" height="20.1"/>
          	<rect x="19" y="382.7" class="st4" width="20.1" height="20.1"/>
          	<rect x="78.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="98.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="118.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="138.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="58.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="158.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="78.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="178.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="98.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="198.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="118.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="218.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="138.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="238.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="158.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="258.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="178.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="278.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="198.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="298.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="218.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="318.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="238.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="338.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="258.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="358.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="278.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="378.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="298.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="398.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="318.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="418.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="338.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="438.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="358.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="458.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="378.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="478.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="398.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="498.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="418.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="518.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="438.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="538.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="458.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="558.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="478.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="578.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="498.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="598.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="518.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="618.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="538.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="638.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="558.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="658.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="578.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="678.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="598.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="698.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="618.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="718.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="638.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="738.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="658.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="758.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="678.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="778.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="698.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="798.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="718.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="818.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="738.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="838.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="758.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="858.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="778.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="878.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="798.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="898.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="818.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="918.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="838.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="938.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="858.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="958.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="878.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="978.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="898.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="998.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="918.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1018.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="938.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1038.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="958.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1058.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="978.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1078.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="998.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1098.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1018.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1118.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1038.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1138.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1058.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1158.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1078.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1178.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1098.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1198.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1118.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1218.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1138.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1238.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1158.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1258.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1178.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1278.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1198.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1298.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1218.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1318.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1238.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1338.9" y="202.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1258.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1358.9" y="222.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1278.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1378.9" y="242.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1298.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1398.9" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1318.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1418.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1338.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1358.9" y="322.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1378.9" y="342.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1398.9" y="362.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="1418.9" y="382.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="38.9" y="302.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="-1.1" y="262.5" class="st4" width="20.1" height="20.1"/>
          	<rect x="18.9" y="282.5" class="st4" width="20.1" height="20.1"/>
          </g>
          <g id="first-squares">
          	<rect x="-1" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="19" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="39" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="59" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="79" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="99" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="19" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="119" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="39" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="139" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="59" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="159" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="79" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="179" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="99" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="199" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="119" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="219" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="139" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="239" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="159" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="259" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="179" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="279" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="199" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="299" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="219" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="319" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="239" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="339" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="259" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="359" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="279" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="379" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="299" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="399" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="319" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="419" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="339" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="439" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="359" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="459" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="379" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="479" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="399" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="499" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="419" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="519" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="439" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="539" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="459" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="559" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="479" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="579" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="499" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="599" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="519" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="619" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="539" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="639" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="559" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="659" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="579" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="679" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="599" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="699" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="619" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="719" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="639" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="739" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="659" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="759" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="679" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="779" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="699" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="799" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="719" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="819" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="739" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="839" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="759" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="859" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="779" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="879" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="799" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="899" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="819" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="919" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="839" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="939" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="859" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="959" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="879" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="979" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="899" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="999" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="919" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1019" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="939" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1039" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="959" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1059" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="979" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1079" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="999" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1099" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1019" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1119" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1039" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1139" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1059" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1159" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1079" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1179" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1099" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1199" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1119" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1219" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1139" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1239" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1159" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1259" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1179" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1279" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="1199" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1299" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1399" y="2" class="st4" width="20.1" height="20.1"/>
          	<rect x="1419" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1219" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1319" y="22" class="st4" width="20.1" height="20.1"/>
          	<rect x="1239" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1339" y="42" class="st4" width="20.1" height="20.1"/>
          	<rect x="1259" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1359" y="62" class="st4" width="20.1" height="20.1"/>
          	<rect x="1279" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1379" y="82" class="st4" width="20.1" height="20.1"/>
          	<rect x="1299" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1399" y="102" class="st4" width="20.1" height="20.1"/>
          	<rect x="1319" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1419" y="122" class="st4" width="20.1" height="20.1"/>
          	<rect x="1339" y="142" class="st4" width="20.1" height="20.1"/>
          	<rect x="1359" y="162" class="st4" width="20.1" height="20.1"/>
          	<rect x="1379" y="182" class="st4" width="20.1" height="20.1"/>
          	<rect x="-1" y="102" class="st4" width="20.1" height="20.1"/>
        		<rect x="-1" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="19" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="39" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="59" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="79" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="99" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="19" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="119" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="39" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="139" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="59" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="159" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="79" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="179" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="99" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="199" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="119" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="219" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="139" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="239" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="159" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="259" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="179" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="279" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="199" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="299" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="219" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="319" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="239" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="339" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="259" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="359" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="279" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="379" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="299" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="399" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="319" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="419" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="339" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="439" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="359" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="459" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="379" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="479" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="399" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="499" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="419" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="519" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="439" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="539" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="459" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="559" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="479" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="579" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="499" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="599" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="519" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="619" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="539" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="639" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="559" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="659" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="579" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="679" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="599" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="699" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="619" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="719" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="639" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="739" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="659" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="759" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="679" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="779" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="699" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="799" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="719" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="819" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="739" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="839" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="759" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="859" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="779" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="879" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="799" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="899" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="819" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="919" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="839" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="939" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="859" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="959" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="879" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="979" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="899" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="999" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="919" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1019" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="939" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1039" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="959" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1059" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="979" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1079" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="999" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1099" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1019" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1119" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1039" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1139" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1059" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1159" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1079" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1179" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1099" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1199" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1119" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1219" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1139" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1239" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1159" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1259" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1179" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1279" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1199" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1299" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1399" y="202.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1419" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1219" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1319" y="222.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1239" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1339" y="242.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1259" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1359" y="262.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1279" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1379" y="282.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1299" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1399" y="302.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1319" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1419" y="322.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1339" y="342.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1359" y="362.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="1379" y="382.5" class="st4" width="20.1" height="20.1"/>
        		<rect x="-1" y="302.5" class="st4" width="20.1" height="20.1"/>
          </g>
          </svg>
      </div>
		<nav>
      <div class="row">
        <div id="nav-first-line" class="small-12 columns">
          <a href="{% url 'public:home' %}" id="top-home-link">
            <h1><img id="logo" src="{% static 'images/logo.svg' %}" alt="bitcoin designed"></h1>
          </a>
        </div>
        <div id="nav-second-line" class="small-12 columns">
          <ul id="menu-list">
						<li class="menu-item{% if request.path == home_url %} active-item{% endif %}"><a class="menu-link" href="{% url 'public:home' %}">Home</a></li>
            <li class="menu-item{% if request.path == about_url %} active-item{% endif %}"><a class="menu-link" href="{% url 'public:about' %}">About Us</a></li>
					</ul>
        </div>
      </div>
		</nav>
	</div>
  {% endblock topDiv %}

      {% block content %}
      {% endblock content %}

  {% block footer %}
    <footer>
      This project and all content in this website are licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    </footer>
  {% endblock footer %}

    <!-- Le javascript -->
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
  </body>
</html>
