{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Bitcoin designed{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="website">
  	<meta property="og:image" content="">
  	<meta property="og:description" content="">
  	<!-- /twitter card tags -->
  	<meta name="twitter:card" content="summary">
  	<meta name="twitter:description" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>
      {# {% if messages %} #}
          {# {% for message in messages %} #}
              {# <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div> #}
          {# {% endfor %} #}
      {# {% endif %} #}
      <div id="top-div">
		<nav>
			<div class="full-width row">
				<div id="nav-left" class="small-12 large-6 medium-5 columns">
					<a href="{% url 'home' %}" id="top-home-link">
						<h1><img id="logo" src="{% static 'images/logo.svg' %}" alt="bitcoin designed"></h1>
					</a>
				</div>
				<div id="nav-right" class="small-12 large-6 medium-7 columns">
					<ul id="menu-list">
            {% url 'home' as home_url %}
						<li class="menu-item{% if request.path == home_url %} active-item{% endif %}"><a class="menu-link" href="{% url 'home' %}">Home</a></li>
            {% url 'about' as about_url %}
            <li class="menu-item{% if request.path == about_url %} active-item{% endif %}"><a class="menu-link" href="{% url 'about' %}">About Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
		{# {% if request.path == 'home' %} #}
		{# <div id="cta-section" class="row align-center"> #}
			{# <div class="large-8 medium-10 small-12 columns"> #}
				{# <h2 class="cta-copy">Present Your Business or Project in a Beautiful and Unique Way!</h2> #}
			{# </div> #}
		{# </div> #}
		{# {% endif %} #}
		{% if request.path == 'home' %}
		<div class="row full-width">
			<div id="i18n-container" class="small-12 columns">
				<div class="i18n-switch">
					{# <a class="i18n-link {% if lang == 'en' %}i18n-selected{% endif %}" href="/en{% if request.path.find(lang) == 1 %}{{ request.path.replace(lang+'/', '', 1) }}{% else %}{{ request.path }}{% endif %}">en</a> #}
          <a class="i18n-link i18n-selected" href="">en</a>
					<span> / </span>
					{# <a class="i18n-link {% if lang == 'pt' %}i18n-selected{% endif %}" href="/pt{% if request.path.find(lang) == 1 %}{{ request.path.replace(lang+'/', '', 1) }}{% else %}{{ request.path }}{% endif %}">pt</a> #}
          <a class="i18n-link" href="#">pt</a>
					<span> / </span>
					{# <a class="i18n-link {% if lang == 'es' %}i18n-selected{% endif %}" href="/es{% if request.path.find(lang) == 1 %}{{ request.path.replace(lang+'/', '', 1) }}{% else %}{{request.path}}{% endif %}">es</a> #}
          <a class="i18n-link" href="#">es</a>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
      {% block content %}
      {% endblock content %}
  <footer>
    This project is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </footer>
    <!-- Le javascript -->
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
  </body>
</html>
