{% load staticfiles i18n %}<!DOCTYPE html>
{% url 'public:home' as home_url %}
{% url 'public:about' as about_url %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Bitcoin designed{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <!-- social and description tags -->
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    {% if infographic and infographic.thumbnail_img and infographic.thumbnail_img.url %}
    <!-- social-->
  	<meta property="og:image" content="{{ infographic.thumbnail_img.url }}">
    <meta name="twitter:image" content="{{ infographic.thumbnail_img.url }}">
    <!-- description -->
    {% if object and object.title %}
    <meta property="og:title" content="{{ object.title }}">
    <meta name="twitter:title" content="{{ object.title }}">
    <meta name="description" content="{{ object.title }}">
    <meta property="og:description" content="{{ object.title }}">
    <meta name="twitter:description" content="{{ object.title }}">
    {% endif %}
    {% else %}
    <!-- social-->
    <meta property="og:image" content="{% static 'images/perfil-bitcoindesigned.png' %}">
    <meta name="twitter:image" content="{% static 'images/perfil-bitcoindesigned.png' %}">
    <!-- description -->
    <meta name="description" content="Design resources and materials for Bitcoin.">
    <meta property="og:description" content="Design resources and materials for Bitcoin.">
    <meta name="twitter:description" content="Design resources and materials for Bitcoin.">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,700" rel="stylesheet">
    <!-- /social and description tags -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>
    {% block topDiv %}
      <div id="top-div">
		<nav>
			<div class="row">
				<div id="nav-first-line" class="small-12 columns">
					<a href="{% url 'public:home' %}" id="top-home-link">
						<h1><img id="logo" src="{% static 'images/logo.svg' %}" alt="bitcoin designed"></h1>
					</a>
				</div>
				<div id="nav-second-line" class="small-12 columns">
					<ul id="menu-list">
						<li class="menu-item{% if request.path == home_url %} active-item{% endif %}">
              <a class="menu-link" href="{% url 'public:home' %}">Home</a>
            </li>
						<li class="menu-item{% if request.path == about_url %} active-item{% endif %}">
              <a class="menu-link" href="{% url 'public:about' %}">About</a>
            </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
  {% endblock topDiv %}

      {% block content %}
      {% endblock content %}

  {% block footer %}
    <footer>
      <p>This project and all content in this website are licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
    </footer>
  {% endblock footer %}

    <!-- Le javascript -->
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <!-- place project specific Javascript in this file -->

      {# <script src="{% static 'js/project.js' %}"></script> #}


    {% endblock javascript %}
  </body>
</html>
