{% extends "base.html" %}

{% block content %}
<div class="align-center row">
	<div class="small-12 medium-10 columns">
		<h2 class="page-title">About Us</h2>
	</div>
</div>
<div class="row align-center">
	<div class="small-12 medium-10 columns">
		<h3 class="page-subtitle">The project</h3>
		<p class="about-text">Bitcoin designed is a collection of design resources about Bitcoin related topics.</p>
		<p class="about-text"><strong>Disclaimer: </strong>Our infographics are a nice and beautiful way to introduce some important
		subjects for bitcoiners and bitcoin newbies that want to learn more about the technology.</p>
		<p class="about-text">That said, it's important to say that most of the content we have here are simplified and
		friendly approaches to the topics, they are not intended and should not be used expecting a
		profound technical education. For that purpose, there are great resources provided by other people.</p>
	</div>
</div>
<div class="row align-center">
	<div class="small-12 medium-10 columns">
		<h3 class="page-subtitle">The authors</h3>
		<h4 class="author-name"><a href="//patestevao.com">Patrícia Estevão</a></h4>
		<p class="about-text">Product and UX designer focused on user-centered technologies.</p>
		<p class="about-text">Twitter: <a href="https://twitter.com/patestevao">@patestevao</a></p>
		<p class="about-text">E-mail: <a href="mailto:contact@patestevao.com">contact@patestevao.com</a></p>
		<h4 class="author-name"><a href="//agner.io">Marco Agner</a></h4>
		<p class="about-text">Software developer and security researcher.</p>
		<p class="about-text">Twitter: <a href="https://twitter.com/marcoagner">@marcoagner</a></p>
		<p class="about-text">E-mail: <a href="mailto:hello@agner.io">hello@agner.io</a></p>
	</div>
</div>
{% endblock content %}
