{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="align-center row">
    <div class="small-12 medium-10 columns" id="donate-title-container">
      <h2 class="page-title">Donate</h2>
      <img id="donate-title-heart" src="{% static 'images/heart-filled.svg' %}" alt="">
    </div>
  </div>
  <div class="align-center row">
    <div class="small-12 medium-10 columns">
      <p>Thank you! Donating will help us keep up this public work.</p>
      <div id="donate-page-address-container">
        <input readonly type="text" value="3PG2wChbSp9Hd1rZDNMMXKKiAU96qGhZmy" id="donate-page-address">
        <button id="donate-page-copy-button">Copy</button>
      </div>
      <p class="donate-page-feedback">Copied!</p>
      <div id="donate-page-qr-code-container">
        <img id="donate-page-qr-code" src="{% static 'images/qr-code-example.png' %}" alt="">
      </div>
      <div class="donate-page-patreon-section">
        <p>You can also become a patron of our work.</p>
        <div class="patreon-button-container">
          <a href="https://www.patreon.com/patestevao" class="patreon-button">
            <img class="patreon-image" src="{% static 'images/become_a_patron_button.png' %}" alt="Become a patron">
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block donate %}
{% endblock donate %}
