{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
	<div class="small-12 columns">
		<ul class="tag-list">
			<li class="tag-item">
				<p class="tag-title">What are you looking for?</p>
			</li>
      {% for tag in tags %}
			<li class="tag-item">
        <a href="{% url 'public:tag' slug=tag.slug %}" class="tag">{{ tag.tag }}</a>
			</li>
      {% endfor %}
		</ul>
	</div>
</div>
<div class="row">
  {% for infographic in object_list %}
	<div class="infographic-container small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<a class="infographic-sample-link" href="{% url 'public:infographic_detail' slug=infographic.slug %}">
				<div class="overlay"></div>
        <img class="infographic-image" src="{{ infographic.thumbnail_img.url }}" alt="">
			</a>
		</div>
		<div class="title-container">
      <h3 class="infographic-sample-title">{{ infographic.title }}</h3>
      <p class="infographic-sample-date">{{ infographic.pub_date }}</p>
		</div>
	</div>
  {% endfor %}
</div>
{% endblock content %}
