{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row align-center newer-older-container">
  <div class="newer-container medium-6 columns">
    {% if next_infographic %}
    <a href="{% url 'public:infographic_detail' slug=next_infographic.slug %}" class="newer-link">
      <ul class="newer-list">
        <li><img class="newer-image" src="{% static 'images/newer-arrow.svg' %}" alt="&larr;"></li>
        <li><h3 class="newer-title">{{ next_infographic.title }}</h3></li>
      </ul>
    </a>
    {# <div class="row align-middle"> #}
      {# <div class="newer-arrow-column shrink columns"> #}
        {# <a href="{% url 'public:infographic_detail' slug=next_infographic.slug %}" class="newer-link"> #}
          {# <img class="newer-image" src="{% static 'images/newer-arrow.svg' %}" alt="&larr;"> #}
        {# </a> #}
      {# </div> #}
      {# <div class="columns"> #}
        {# <a href="{% url 'public:infographic_detail' slug=next_infographic.slug %}" class="newer-link"> #}
          {# <h3 class="newer-title">{{ next_infographic.title }}</h3> #}
        {# </a> #}
      {# </div> #}
    {# </div> #}
    {% endif %}
  </div>
  <div class="older-container medium-6 columns">
    {% if prev_infographic %}
    <a href="{% url 'public:infographic_detail' slug=prev_infographic.slug %}" class="older-link">
      <ul class="older-list">
        <li><h3 class="older-title">{{ prev_infographic.title }}</h3></li>
        <li><img class="older-image" src="{% static 'images/older-arrow.svg' %}" alt="&larr;"></li>
      </ul>
    </a>
    {# <div class="row align-middle"> #}
      {# <div class="columns"> #}
        {# <a href="{% url 'public:infographic_detail' slug=prev_infographic.slug %}" class="older-link"> #}
          {# <h3 class="older-title">{{ prev_infographic.title }}</h3> #}
        {# </a> #}
      {# </div> #}
      {# <div class="older-arrow-column shrink columns"> #}
        {# <a href="{% url 'public:infographic_detail' slug=prev_infographic.slug %}" class="older-link"> #}
          {# <img class="older-image" src="{% static 'images/older-arrow.svg' %}" alt="&larr;"> #}
        {# </a> #}
      {# </div> #}
    {# </div> #}
    {% endif %}
  </div>
</div>
<div class="row align-center">
  <div class="small-12 medium-10 columns">
    <h2 class="infographic-title text-center">{{ object.title }}</h2>
  </div>
</div>
<div class="row align-center">
  <div class="full-infographic-outer-container small-12 columns">
    <div class="full-infographic-inner-container">
      <img class="full-infographic-image" src="{{ object.medium_img.url  }}" alt="">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="separate-content-container">
      <p class="infographic-date">Original creation date: {{ object.pub_date }}</p>
      <p class="infographic-date">Last update: {{ object.last_update_date }}</p>
      {# <p class="infographic-date"><a class="post-infographic-link"href="#">Timestamped</a> on the Bitcoin blockchain using OpenTimestamps.</p> #}
    </div>
    <div class="separate-content-container">
      {% for infographic_url in object.infographicurl_set.all %}
      <p class="infographic-text"><a class="post-infographic-link" href="{{ infographic_url.url }}">Download this infographic in high resolution. ({{ infographic_url.language.name }})</a></p>
      {% endfor %}
      {# <p class="infographic-text"><a class="post-infographic-link" href="">Download the source file for this infographics (Adobe Illustrator format).</a></p> #}
    </div>
    {# <div class="separate-content-container"> #}
    {#   <p class="infographic-text-title"><strong>Think this would look good as a printed poster?</strong></p> #}
    {#   <p class="infographic-text"><a class="post-infographic-link" href="#">Buy your poster.</a></p> #}
    {# </div> #}
  </div>
</div>
{% endblock content %}
