{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row align-center">
  <div class="small-12 medium-10 columns">
    <h2 class="infographic-title text-center">{{ object.title }}</h2>
  </div>
</div>
<div class="row align-center">
  {% if next_infographic %}
  <div class="prev-container medium-6 columns">
    <div class="row align-middle">
      <div class="prev-arrow-column shrink columns">
        <a href="" class="prev-link">
          <img class="prev-image" src="{% static 'images/prev-arrow.svg' %}" alt="&larr;">
        </a>
      </div>
      <div class="columns">
        <a href="{% url 'public:infographic_detail' slug=next_infographic.slug %}" class="prev-link">
          <h3 class="prev-title">{{ next_infographic.title }}</h3>
        </a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if prev_infographic %}
  <div class="next-container medium-6 columns">
    <div class="row align-middle">
      <div class="columns">
        <a href="{% url 'public:infographic_detail' slug=prev_infographic.slug %}" class="next-link">
          <h3 class="next-title">{{ prev_infographic.title }}</h3>
        </a>
      </div>
      <div class="next-arrow-column shrink columns">
        <a href="" class="next-link">
          <img class="next-image" src="{% static 'images/next-arrow.svg' %}" alt="&larr;">
        </a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="row align-center">
  <div class="full-infographic-outer-container small-12 columns">
    <div class="full-infographic-inner-container">
      <img class="full-infographic-image" src="{{ object.medium_img.url  }}" alt="">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="separate-content-container">
      <p class="infographic-date">Original creation date: {{ object.pub_date }}</p>
      <p class="infographic-date">Last update: {{ object.last_update_date }}</p>
      {# <p class="infographic-date"><a class="post-infographic-link"href="#">Timestamped</a> on the Bitcoin blockchain using OpenTimestamps.</p> #}
    </div>
    <div class="separate-content-container">
      {% for infographic_url in object.infographicurl_set.all %}
      <p class="infographic-text"><a class="post-infographic-link" href="{{ infographic_url.url }}">Download this infographic in high resolution. ({{ infographic_url.language.name }})</a></p>
      {% endfor %}
      {# <p class="infographic-text"><a class="post-infographic-link" href="">Download the source file for this infographics (Adobe Illustrator format).</a></p> #}
    </div>
    {# <div class="separate-content-container"> #}
    {#   <p class="infographic-text-title"><strong>Think this would look good as a printed poster?</strong></p> #}
    {#   <p class="infographic-text"><a class="post-infographic-link" href="#">Buy your poster.</a></p> #}
    {# </div> #}
  </div>
</div>
{% endblock content %}
