{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
	<div class="small-12 columns">
		<ul id="tag-list">
			<li class="tag-item">
				<p class="tag-title">What are you looking for?</p>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Mining</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Transaction</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Numbers</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Basics</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Mining</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Transaction</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Numbers</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Basics</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Mining</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Transaction</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Numbers</a>
			</li>
			<li class="tag-item">
				<a href="#" class="tag">Basics</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="infographic-container small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<a class="infographic-sample-link" href="{% url 'infographic' %}">
				<div class="overlay"></div>
				<img class="infographic-image" src="{% static 'images/samples/bitcoin-and-the-crisis.png' %}" alt="">
			</a>
		</div>
		<div class="title-container">
			<h3 class="infographic-sample-title">Título do Infográfico</h3>
			<p class="infographic-sample-date">July, 2015</p>
		</div>
	</div>
	<div class="infographic-container featured-infographic small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<div class="add-tag">Add</div>
			<a class="infographic-sample-link" href="">
				<div class="overlay"></div>
				<img class="infographic-image" src="{% static 'images/samples/byzantine-generals-problem.png' %}" alt="">
			</a>
		</div>
		<div class="title-container">
			<h3 class="infographic-sample-title">Título do Infográfico</h3>
			<p class="infographic-sample-date">July, 2015</p>
		</div>
	</div>
	<div class="infographic-container small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<a class="infographic-sample-link" href="">
				<div class="overlay"></div>
				<img class="infographic-image" src="{% static 'images/samples/is-bitcoin-anonymous.png' %}" alt="">
			</a>
		</div>
		<div class="title-container">
			<h3 class="infographic-sample-title">Título do Infográfico</h3>
			<p class="infographic-sample-date">July, 2015</p>
		</div>
	</div>
	<div class="infographic-container small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<a class="infographic-sample-link" href="">
				<div class="overlay"></div>
				{<img class="infographic-image" src="{% static 'images/samples/paper-wallet-cold-storage.png' %}" alt="">
			</a>
		</div>
		<div class="title-container">
			<h3 class="infographic-sample-title">Título do Infográfico</h3>
			<p class="infographic-sample-date">July, 2015</p>
		</div>
	</div>
	<div class="infographic-container custom-infographic small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<div class="custom-tag">Custom</div>
			<a class="infographic-sample-link" href="">
				<div class="overlay"></div>
				<img class="infographic-image" src="{% static 'images/samples/the-bitcoin-rollercoaster.png' %}" alt="">
			</a>
		</div>
		<div class="title-container">
			<h3 class="infographic-sample-title">Título do Infográfico</h3>
			<p class="infographic-sample-date">July, 2015</p>
		</div>
	</div>
	<div class="infographic-container small-12 medium-6 large-4 columns">
		<div class="infographic-image-container">
			<a class="infographic-sample-link" href="">
				<div class="overlay"></div>
				<img class="infographic-image" src="{% static 'images/samples/the-bitcoin-transaction-life-cycle.png' %}" alt="">
			</a>
		</div>
		<div class="title-container">
			<h3 class="infographic-sample-title">Título do Infográfico</h3>
			<p class="infographic-sample-date">July, 2015</p>
		</div>
	</div>
</div>
{% endblock content %}
